body{
    background-color: rgb(150, 201, 201);
        }
        h1{
            color: brown;
            background-color: rgb(24, 14, 14);
            text-align: center;
        }
        p{
            color: rgb(63, 14, 222);
        }